<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Crawler 2.0</title>
    <link rel="icon" href="/img/crawl-logo.jpg">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <form id='form'>
        <label >URL  <input type="text" id='url'><div id='url-validation-alert' class="none">Invalid URL</div></label>
        <label >Max Level  <input type="number" id='max-level'><div id='level-validation-alert' class="none">Invalid limitation for max level</div></label></label>
        <label >Max Pages  <input type="number" id='max-pages'><div id='pages-validation-alert' class="none">Invalid limitation for max pages</div></label></label>
        <button id="send">Send Query</button>
    </form>
    <div id='status-bar' class="none">
        <div id='pages-bar'></div>
        <div id='page-status'></div>
        <div id='level-bar'></div>
    </div>
    <ul id="container" class="tree">
        <li id='0' class="on">

        </li>
    </ul>
    <script type="module" src="/js/main.js"></script>
</body>
</html>