/client/config
/client/node_modules
/client/package-lock.json
/k8s/web-crawler-app/templates/env.yaml

/server/config
/server/node_modules
/server/package-lock.json

/worker/config
/worker/node_modules
/worker/package-lock.json

/parser/config
/parser/node_modules
/parser/package-lock.json